<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    {{#username}}
    <div class="head_container">
      <div class="username">
        <div class="user_tag">
          <a href="/">username:{{.}}</a>
        </div>
      </div>
      <div class="nav">
          <div class="atags">
            <a href="/">home</a>
            <a href="/createMessage"> create message </a>
          </div>
      </div>
    </div>
    {{/username}}

    {{^username}}
    <a href="/">home</a>
    <a href="/login">login</a>
    <a href="signup">signup</a>
    {{/username}}


    {{{yield}}}

    {{#username}}
    <form id="logout" action="/logout" method="post">
      <button type="submit" class="logout">logout</button>
    </form>
    {{/username}}
  </body>
</html>
