{{#error}}
{{.}}
{{/error}}
    <form class="" action="/login" method="post">
    <label for="username">Enter username</label>
    <input type="text" name="username" placeholder="username">
    <label for="password">Enter password</label>
    <input type="text" name="password" placeholder="password">
    <button type="submit" name="button">login</button>
    </form>
