{{#username}}
<h1>display_name: {{.}}</h1>
{{/username}}

<h1>posts</h1>
{{#post}}
<p>message by: {{the_user}}</p>
<li>{{body}}</li>
{{#can_delete}}
<form class="" action="/{{id}}/delete" method="post">
  <button type="submit" name="button">Delete</button>
</form>
{{/can_delete}}
{{^was_liked}}
<form class="" action="/{{id}}/like" method="post">
  <button type="submit" name="button">like</button>
</form>
{{/was_liked}}
{{#was_liked}}
<button type="button" name="button">liked</button>
{{/was_liked}}
<p>likes:{{likes}}</p>
{{likers}}
{{/post}}
