{{#username}}
<h1>display_name: {{.}}</h1>
{{/username}}

<h1>posts</h1>
{{#post}}
<p>message by: {{the_user}}</p>
<li>{{body}}</li>
{{#can_delete}}
<form class="" action="/{{id}}/delete" method="post">
  <button type="submit" name="button">Delete</button>
</form>
{{/can_delete}}

<form class="" action="/{{id}}/like" method="post">
  <button type="submit" name="button">like</button>
</form>


<form class="" action="/{{id}}/wholiked" method="post">
  <p><button type="submit" name="button">likes:</button>{{likes}}</p>
</form>
{{/post}}
