  <form class="" action="/signup" method="post">
      <label for="newusername">New username</label>
      <input type="text" name="newusername" placeholder="new username">
      <label for="newpassword">New password</label>
      <input type="password" name="newpassword" placeholder="new password">
      <button type="submit" >submit</button>
